{% extends 'webapp/base.html' %}

{% block content %}
    
    <body>

        <br>
        <br>

        <div class="text-center">

            <h3> THS CRM  </h3>

            <br>

            <h5> Backend database to store the client information </h5>

            <hr>
            <br>

            <a class="btn btn-primary" type="button" href="{% url 'my-login' %}"> Login &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i> </a>

        </div>

    </body>        


{% endblock %}