{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome, {{user}}! 👋 </h5>

    <hr>

    <a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}">

        Create a new record &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>

    </a>

    <hr> 

    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr>

                <th scope="col"> ID </th>
                <th scope="col"> Full name </th>
                <th scope="col"> DOB </th>
                <th scope="col"> FACILITY NAME </th>

                
                
                <th scope="col"> TALK THERAPY ASSIGNEE </th>

                <th scope="col"> ELIGIBILITY RUNDATE</th>

                <th scope="col"> View </th>

            </tr>

        </thead>

        <tbody>

            {% for record in my_record %}

            <tr>

                <td> {{record.id}} </td>

                <td> {{record.first_name}}  {{record.last_name}} </td>

                <td> {{record.dob}} </td>
                <td> {{record.facility_name}} </td>
                <td> {{record.primary_insurance_name}} </td>
                <td> {{record.primary_insurance}} </td>
                <td> {{record.talk_therapy_doc_name}} </td>
                <td> {{record.eligibility_rundate}} </td>

                <td> <a class="btn btn-success btn-sm" href="{% url 'record' record.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>

            </tr>

            {% endfor %}


        </tbody>


    </table>


{% endblock %}